@use 'fonts'as *;
@use 'reset'as *;
@use 'variables'as *;
@use 'mixins'as *; // _mixins.scss 파일이 같은 폴더에 있는 경우
@use 'layout'as *;
@use 'utilities'as *;


body {
  // 브라우저 기본 16px의 93.75% = 15px
  font-size: 93.75%;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}